:root.theme-light {
  --bg-color: #fff1f7;
  --bg-image: url("../images/cover-image-light.png");

  --accent-color: #ff8dcb;
  --accent-color-transparent: rgb(50 49 45 / 0.4);

  --title-color: #ffc2e6;
  --decor-color: #353430;
  --section-title-color: #353430;

  --text-color: #353430;
  --decor-text-color: #353430;

  --title-shadow-color: #ff8dcb;
}

:root.theme-light .rec-decor {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url("../images/cover-image-light.png");

    --accent-color: #ff8dcb;
    --accent-color-transparent: rgb(50 49 45 / 0.4);

    --title-color: #ffc2e6;
    --decor-color: #353430;
    --section-title-color: #353430;

    --text-color: #353430;
    --decor-text-color: #353430;

    --title-shadow-color: #ff8dcb;
  }

  .rec-decor {
    display: none;
  }
}